@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Outfit;
}

#qrcode {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

#box {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 580px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

#text {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

p {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  font-weight: 400;
}
