.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#qrcode {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

#box {
}

body {
  background-color: hsl(212, 45%, 89%);
}
